body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.btn-panel {
    float: right;
}
#resetBtn{
    background-color: gray;
    color: white;
    border-radius: 5px;
    width: 150px;
}
#submitBtn{
    background-color: orangered;
    color: white;
    border-radius: 5px;
    width: 200px;
}
tr{
    border-top:1px solid black;
}
table{
    width: 100%;
    text-align: center;
}
input#patientID{
    width: 100%;
}
div.row{
    width: 100%;
    margin: auto;
    padding: auto;
}
div.column{
    width: 30%;
    margin: auto;
    padding:auto;
}
form, div.patientsList {
    max-width: 90%;
    padding-left: 10%;
}
.navbar{
    position: relative;
    background-color: orangered;
    height: 50px; 
    color: white;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}
.navbar span{
    margin-left: 20px;
}
div.footer{
    margin-top: 15%;
    background-color: gainsboro;
    width: 100%;
    position: relative;
    overflow: hidden;
}
li{ 
    padding-top: 10px;
    display: inline-flex;  
    border-left: 2px solid white;
    width: 100px;
    overflow: hidden;
}
li a {
    color: white;
    padding-left: 30px;
}
div img{
    height: 350px;
    width: 100%;
}
.navbar span{
    margin: 0;
    padding: 0;
}
.footer span.left{
    padding-left: 10px;
    position: bottom;
    float: left;
}
span.right{
    float: right;
    padding-right:10px;
}